/* Font Imports */
@font-face {
    font-family: Poppins;
    src: url(Poppins-Regular.ttf);
  }
  
/* Main Styles */
body {
    margin:0px;
}
main {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 7% auto;
    height: 100vh;
    margin: 0px;
    font-family:Poppins;
    font-weight:lighter;
}
/* Container Styles */
#left-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #3a3939;
    display:flex;
    justify-content:center;
    align-items:center;
  }
#right-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: lightgray;
}
/* Navigation Styles */
#nav-bar {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    background-color: #3a3939;
}
nav ul {
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items:center;
    width: 100%;
    padding:0em 3em;
    list-style-type:none;
    text-transform: uppercase;
    text-shadow: lightyellow;
}
li a{
    color:white;
    padding:5px;    
    text-decoration: none;
} 
#main-inputs {
    font-size: 14pt;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:100px;
}
#main-inputs input{
    height: 30px;
    font-size: 14pt;
}
#last-name-container {
    padding-top:50px;
}
